/* adjustments for code prettify */
code.prettyprint:before, code.prettyprint:after {
  content:' '
}
pre.prettyprint {
  width:fit-content;
  padding: 8px 40px  8px 0 !important;
  text-align: left;
  margin: 0 30px;
}